{% extends 'dashboard/base.html.twig' %}

{% block title %}Project Manager | Projecten!{% endblock %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Project uren</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a href="/project/book-hours" class="btn btn-sm btn-outline-primary">Boek nieuwe uren</a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Project naam</th>
                    <th>Projectnummer</th>
                    <th>Aantal uren</th>
                    <th>Datum</th>
                </tr>
                </thead>
                <tbody>
                {% for project_hours in projects_hours %}
                    <tr>
                        <th>{{ project_hours.project.id }}</th>
                        <th>{{ project_hours.project.name }}</th>
                        <th>{{ project_hours.hours }}</th>
                        <th>{{ project_hours.date|date("d-m-Y") }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}